<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
		
		<!--  css style sheets  -->
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.min.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
<!--         <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"> -->
        <link href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" rel="stylesheet">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <link rel='stylesheet' type='text/css' href="@{'/public/stylesheets/style.css'}" />
		<link rel="stylesheet" href="@{'/public/stylesheets/slider.css'}">
		<link rel="stylesheet" href="@{'/public/stylesheets/footer.css'}">
		<link rel="stylesheet" href="@{'/public/stylesheets/aboutus.css'}">
		<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' >
		<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900' >
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/jquery.mmenu.all.css'}" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- js scripts & external files -->
        <!-- <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/bootstrap.min.js'}" type="text/javascript" charset="${_response_encoding}"></script> -->
		<script src="@{'/public/javascripts/jquery.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/javascripts/move-top.js'}"></script>
		<script type="text/javascript" src="@{'/public/javascripts/easing.js'}"></script>
		<script src="@{'/public/javascripts/jquery.carouFredSel-6.1.0-packed.js'}"></script>
		<script src="@{'/public/javascripts/tms-0.4.1.js'}"></script>
		<script type="text/javascript" src="@{'/public/javascripts/jquery.mmenu.js'}"></script>
		<script src="@{'/public/javascripts/jquery-migrate-1.1.1.js'}"></script>
		<script src="@{'/public/javascripts/superfish.js'}"></script>
		<script src="@{'/public/javascripts/jquery.easing.1.3.js'}"></script>
		<script src="@{'/public/javascripts/sForm.js'}"></script>
		<script src="@{'/public/javascripts/jquery.carouFredSel-6.1.0-packed.js'}"></script>
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	    <script>
	     	$(window).load (
			    function(){$('.carousel2').carouFredSel({auto: false,prev: '.prev1',next: '.next1', width: 410, items: {
			      visible : {min: 1, max: 1},
				  height: 'auto',
				   width: 410,
			    }, responsive: false, 
			    scroll: 1, 
			    mousewheel: false,
			    swipe: {onMouse: false, onTouch: false}});
		    });     
	     	
			$(function() {
			  $('a[href*=#]:not([href=#])').click(function() {
			    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
		
			      var target = $(this.hash);
			      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
			      if (target.length) {
			        $('html,body').animate({
			          scrollTop: target.offset().top
			        }, 1000);
			        return false;
			      }
			    }
			  });
			});
		
			$(window).load(function(){
				$('div.description').each(function(){
					$(this).css('display', 'block');
				});
				
				$('div.content-top-grid').hover(function(){
					$(this).children('.description').stop().fadeTo(500, 1);
				},function(){
					$(this).children('.description').stop().fadeTo(500, 0);
				});
				
			});
		
			$(function() {
				$('nav#menu-left').mmenu();
			});

			$(window).load(function(){
			 $('.slider')._TMS({
			         show:0,
			         pauseOnHover:false,
			         prevBu:'.prev',
			         nextBu:'.next',
			         playBu:false,
			         duration:800,
			         preset:'fade', 
			         pagination:true,//'.pagination',true,'<ul></ul>'
			         pagNums:false,
			         slideshow:8000,
			         numStatus:false,
			         banners:false,
			      waitBannerAnimation:false,
			      progressBar:false
			 })  
			});
      
		    $(window).load (
			    function(){$('.carousel1').carouFredSel({auto: false,prev: '.prev',next: '.next', width: 960, items: {
			      visible : {min: 1,
			       max: 4
					},
					height: 'auto',
					 width: 240,
				    }, responsive: false,     
				    scroll: 1, 
				    mousewheel: false,
				    swipe: {onMouse: false, onTouch: false}});
			});      
    	</script>
        
        #{get 'moreScripts' /}
    </head>
    
    <body>
    	<!----//start-header--->
    	<div class="header2">
			<div class="wrap">
				<!---start-logo---->
				<div class="logo">
					<a href="index.html"><img src="@{'/public/images/logo.png'}" title="CookForMe" /></a>
				</div>
				<!---//End-logo---->
				<!---start-top-nav---->
				<div class="top-nav" id="menu-left">
					<ul>
						<li><a href="/">Home Page</a></li>
						<li><a href="/Meals/offer">Offer Meal</a></li>
						<li><a href="/Meals/browse">Browse Meals</a></li>
						<li><a href="#">Lorem</a></li>
						<li><a href="#">ipsum</a></li>
						<li><a href="#">Dorem</a></li>
						<div class="clear"></div>
					</ul>
				</div> 
				<!---//End-top-nav---->
				
				<div class='row'>
					<div class="col-md-3 pull-right input-group">
						#{form @Meals.search(), enctype:'multipart/form-data', role:'form'}
							<div class="form-group">
								<input name="searchToken" type="text" class="form-control">
								<span class="input-group-btn">
									<button class="btn btn-default" type="submit">Go!</button>
								</span>
							</div>
						#{/form}
					</div>  
				</div>
				<div class="clear"> </div>
				
				<div class='row pull-right' id="user-info">

					#{if user != null}
						<h2>Meals for: ${user.email} &nbsp;&nbsp;&nbsp;&nbsp;<a href="/Users/logout" class="btn btn-warning " type="button">Logout</a> </h2>
					#{/if}
					#{else}
						<a href="/Users/login" class="btn btn-warning " type="button">Login</a>
					#{/else}			
				</div>
			</div>
		</div>
		<!----//End-header--->
		
		<div id="page-content">
        	#{doLayout /}
        </div>
        
        <!----Start-footer--->
        <div class="contact" id="contact">
		<footer id="FOOTER_1">
			<div id="DIV_2">
				<div id="DIV_3">
					<div id="DIV_4">
						<div id="DIV_5">
							<h3 id="H3_6">
								Sign up for updates
							</h3>
							<div id="DIV_7">
								<form action="/prospects.js" method="post" id="FORM_8">
									<div id="DIV_9">
										<input name="utf8" type="hidden" value="âœ“" id="INPUT_10" />
										<input name="authenticity_token" type="hidden" value="BzqTD7T5SRLjZjDONEk9+e7+bwMIA2kGhWFaBQ8WIhE=" id="INPUT_11" />
									</div>
									<input id="INPUT_12" name="error_selector" type="hidden" value="newsletter-errors-footer" />
									<div id="DIV_13">
										<input id="INPUT_14" name="marketing_prospect[email]" placeholder="Enter email address" size="25" type="email" />
									</div>
									<div id="DIV_15">
										<input id="INPUT_16" name="marketing_prospect[zip_code]" placeholder="Zip code" size="8" type="text" />
									</div>
									<input name="commit" type="submit" value="Sign Up" id="INPUT_17" />
									<div id="DIV_18">
									</div>
								</form>
							</div>
						</div>
						<div id="DIV_19">
							<h3 id="H3_20">
								Connect with us!
							</h3>
							<ul id="UL_21">
								<li id="LI_22">
									<a href="https://www.facebook.com/cookforme" id="A_23">Facebook</a>
								</li>
								<li id="LI_24">
									<a href="http://instagram.com/cookforme" id="A_25">Intagram</a>
								</li>
								<li id="LI_26">
									<a href="https://twitter.com/cookforme" id="A_27">Twitter</a>
								</li>
								<li id="LI_28">
									<a href="http://www.pinterest.com/cookforme" id="A_29">Pinterest</a>
								</li>
								<li id="LI_30">
									<a href="http://www.youtube.com/user/cookforme" id="A_31">YouTube</a>
								</li>
							</ul>
						</div>
					</div>
					<div id="DIV_32">
						<div id="DIV_33">
							<h4 id="H4_34">
								Things to Explore
							</h4>
							<ul id="UL_35">
								<li id="LI_36">
									<a href="/how-it-works" id="A_37">How it Works</a>
								</li>
								<li id="LI_38">
									<a href="/order" id="A_39">Order a Meal</a>
								</li>
								<li id="LI_40">
									<a href="/offer" id="A_41">Cook for Others</a>
								</li>
								<li id="LI_42">
									<a href="/Delivery" id="A_41">Delivery</a>
								</li>
							</ul>
						</div>
						<div id="DIV_42">
							<h4 id="H4_43">
								Get To Know Us
							</h4>
							<ul id="UL_44">
								<li id="LI_45">
									<a href="/about?content=our-mission" id="A_46">Our Story</a>
								</li>
								<li id="LI_47">
									<a href="/press" id="A_48">Press</a>
								</li>
								<li id="LI_49">
									<a href="/about?content=careers-page" id="A_50">Careers</a>
								</li>
								<li id="LI_51">
									<a href="http://thedish.cookforme.com" id="A_52">Blog</a>
								</li>
							</ul>
						</div>
						<div id="DIV_53">
							<h4 id="H4_54">
								How can we help?
							</h4>
							<ul id="UL_55">
								<li id="LI_56">
									 <a href="https://cookforme.zendesk.com" id="A_57">FAQs</a>
								</li>
								<li id="LI_58">
									Call 855-525-2399
								</li>
								<li id="LI_59">
									Email help@cookForMe.com
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div id="DIV_62">
				<div id="DIV_63">
					<div id="DIV_64">
						<div id="DIV_65">
							<ul id="UL_66">
								<li id="LI_67">
									<a href="/" id="A_68">CookForMe Home</a>
								</li>
								<li id="LI_69">CookForMe</li>
								<li id="LI_70">
									<a href="/terms" id="A_71">Terms</a>
								</li>
								<li id="LI_72">
									<a href="/privacy" id="A_73">Privacy</a>
								</li>
								<li id="LI_74">Made with <i id="I_75"></i> in Munich</li>
							</ul>
						</div>
						<div id="DIV_76">
						</div>
					</div>
				</div>
			</div>
		</footer>
		</div>
		<!---//End-footer---->
		
    </body>
    
    
</html>
