<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.min.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/bootstrap.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script type="text/javascript" src="@{'/public/javascripts/ejohn-templating.js'}"></script>
        <script type="text/javascript" src="@{'/public/javascripts/jquery.formatCurrency-1.2.0.min.js'}"></script>
        <script type="text/javascript" src="@{'/public/javascripts/i18n/jquery.formatCurrency.en-GB.js'}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
    	<div class="header">
    		<span class="headerOutputText">&{'title'}</span>
    	</div>
        #{doLayout /}
        
         <footer>
  <div class="footer-top">
    <div class="container">
      <div class="row-fluid footer-connect-row">
        <div class="span7 footer-sign-up">
          <h3 class="footer-top-header">Sign up for updates</h3>
          <div class="footer-newsletter-signup pull-left">
            <form accept-charset="UTF-8" action="/prospects.js" class="simple_form form-inline pull-left footer-newsletter-signup-form" data-remote="true" method="post" novalidate="novalidate"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="14xIH6uy0wtPy5Kckxpn0urDxzy4YY5VA+peQ9XVAus="></div>
              <input id="error_selector" name="error_selector" type="hidden" value="newsletter-errors-footer">
              <div class="input email required marketing_prospect_email"><input class="string email required" id="marketing_prospect_email" name="marketing_prospect[email]" placeholder="Enter email address" size="25" type="email"></div>
              <div class="input string required marketing_prospect_zip_code"><input class="string required" id="marketing_prospect_zip_code" name="marketing_prospect[zip_code]" placeholder="Zip code" size="8" type="text"></div>
              <input class="button minibutton secondary" name="commit" type="submit" value="Sign Up">
              <div id="newsletter-errors-footer" class="block-error"></div>
</form>          </div>
        </div>
        <div class="span5 footer-social">
          <h3 class="footer-top-header">Connect with us!</h3>
          <ul class="social-links inline pull-right">
            <li class="social-link"><a href="https://www.facebook.com/cookForMe" class="social-facebook" target="_blank">Facebook</a></li>
            <li class="social-link"><a href="http://instagram.com/cookforme" class="social-instagram" target="_blank">Intagram</a></li>
            <li class="social-link"><a href="https://twitter.com/cookforme" class="social-twitter" target="_blank">Twitter</a></li>
            <li class="social-link"><a href="http://www.pinterest.com/cookforme" class="social-pinterest" target="_blank">Pinterest</a></li>
            <li class="social-link"><a href="http://www.youtube.com/user/cookforme" class="social-youtube" target="_blank">YouTube</a></li>
          </ul>
        </div>
      </div>
      <div class="row-fluid footer-nav-row">
        <div class="span3">
          <h4>Things to Explore</h4>
          <ul>
            <li><a href="/how-it-works">How it Works</a></li>
            <li><a href="/how-it-works/order">Order a Meal</a></li>
            <li><a href="/how-it-works/offer">Cook For Others</a></li>
            <li><a href="/delivery">Delivery</a></li>
            
          </ul>
        </div>
        <div class="span3">
          <h4>Get to know Us</h4>
          <ul>
            <li><a href="/about?content=our-mission">Our Story</a></li>
            <li><a href="/press">Press</a></li>
            <li><a href="/about?content=careers-page">Careers</a></li>
            <li><a href="http://thedish.cookforme.com">Blog</a></li>
          </ul>
        </div>
        <div class="span3">
          <h4>How can we help?</h4>
          <ul>
            <li>
              <a href="https://cookforme.zendesk.com" target="_blank">FAQs</a>
            </li>
            <li>Call 855-525-2399</li>
            <li>Email help@cookforme.com</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row-fluid">
        <div class="span9">
          <ul class="inline footer-bottom-nav">
            <li class="brand-link-mini"><a href="/" class="logo-mini">CookForMe Home</a></li>
            <li class="copyright">© 2014 CookForMe</li>
            <li><a href="/terms">Terms</a></li>
            <li><a href="/privacy">Privacy</a></li>
            <li class="mobile-hidden">Made with <i class="green-heart"></i> in MUNICH</li>
          </ul>
        </div>
        <div class="span3">

        </div>
      </div>
    </div>
  </div>
</footer>
        
    </body>
</html>
