#{extends 'main.html' /}
#{set title:'Home' /}

<div id="basketCartDIV_1">
	<div id="basketCartDIV_2">
		<div id="basketCartDIV_3">
			<div id="basketCartDIV_4">	 
				#{if user != null}
					<h4>Welcome,</h4>
				#{/if}
				#{else}
					<a href="/Users/login" >Login</a>
				#{/else}
				
				<a href="/account" id="basketCartA_5">
				#{if user != null}
					<h4>${user.email}</h4>
				#{/if}</a>
			</div>
			<div id="basketCartDIV_6">
				<a href="/account" id="basketCartA_7">Account</a>
			</div>
		</div>
		<div id="basketCartDIV_8">
			<a href="" onClick="return openBasketCart();" id="basketCartA_9"><i id="basketCartI_10"></i>
				Basket <span id="basketCartSPAN_11"></span></a>
		</div>
	</div>
	<div id="basketCartDIV_12">
		<div id="basketCartDIV_13">
			
			<div id="basketCartDIV_14">
				<a href="#" onClick="return openBasketCart();" id="basketCartA_15">X</a>
				<h3 id="basketCartH3_16">My Basket</h3>
			
				<ul id="basketCartUL_17">
						
				</ul>
				
			</div>
			
			<div id="basketCartDIV_38">
				<span id="basketCartSPAN_42">Subtotal $90.00</span> <a
					href="/items/checkout" id="basketCartA_43">Checkout</a>
			</div>
		</div>
	</div>
</div>

<div id="browse-container" class="container">
	<div id="browse-page">
	<table id="browse-table">
	<tr>
		<td>
		<div>
			#{list items: categories, as:'c'}
 				<a id="categoryID" class="btn btn-default category" onclick="activate(${c.id});" href="@{Meals.browse(c.name)}">${c.name}</a> 
				<div class="clear"></div>
			#{/list}
		</div>
	    </td>
	    
	    <td>
	    <div id="browse-content">
		    #{list items: meals, as:'m'}
		    <div class="top-grid">
		    	#{if user != null}
		    	<a href="" onclick="addItem(${m.id}); return addItemToBasketCart();">
		    	<img height="50" src="@{'/public/images/add-to-cart-icon.jpg'}">
		    	</a>
				#{/if}
				<a href="#"><img height="70" src="@{Meals.renderImage(m.id)}"></a>
				<a id ="mealName" href="#">${m.name}</a>
				<p>${m.ingredients}</p>
				<p id = "mealPrice" >${m.priceCategory.name}</p>
			</div>
		    #{/list}
	    </div>
	    </td>
	    
	    <td>
	    <div id="recommendations">
			#{list items: popularMeals, as:'m'}
		    <div class="top-grid">
				<a href="#"><img src="@{Meals.renderImage(m.id)}"></a>
				<a href="#">${m.name}</a>
				<p>${m.ingredients}</p>
				<p>${m.priceCategory.name}</p>
			</div>
		    #{/list}
		</div>
		</td>
	</tr>
	</table>
	</div>
</div>


<script type="text/JavaScript">   
	function addItem(itemid) {	
		console.log('additem was clicked'+itemid);

		
		$.ajax({
            type: "POST",
            url: "/items/add/"+itemid,
            //data: {newname: newname}, 
  		     data: {},
  		     contentType: "text/xml",
  		     dataType: 'xml', 
  		     async: false,
  		     success: function(json) {
  		    	console.log('result='+json);
  		    	//tmpl('basketItems_tmpl',  also put bracket at end
  	   			$('#BasketItemsTemplateOutput').html({basketItems: json});
	  	   		$('#basketTbl #priceCell').each(function() {
	  	   			$(this).formatCurrency({region: 'en-GB'});
	        	 });
	  	   			  	   		
	  	   		//addItemToBasketCart(itemid);
	  	   		
  		     },
  		     error: function(json) {
  	   		     alert('fail: ' + json);
  	   			
  		     } 
  		 });	 
  		 
   	 return false; 
  	}	
	
	function removeItem(basketItemId) {
		$.ajax({
            type: "POST",
            url: "/items/remove/"+basketItemId,
  		     data: {},
  		     contentType: "application/json; charset=utf-8",
  		     dataType: "json", 
  		    success: function(json) {
  	   			/* $('#BasketItemsTemplateOutput').html(tmpl('basketItems_tmpl', {basketItems: json}));
  	   			$('#basketTbl #priceCell').each(function() {
	  	   			$(this).formatCurrency({region: 'en-GB'});
        	 	}); */
  		     },
  		     
  		     error: function(json) {
  	   		     alert('fail: ' + json); 
  		     } 
  		 });
   	 return false; 
  	}	
</script> 