#{extends 'main.html' /}
#{set title:'Home' /}

<div class="container">
	<div class='row'>
		<h2>Meals for: ${user.email}</h2>
		
		<a href="/Users/logout" class="btn btn-warning " type="button">Logout</a>
	</div>

	<div class='row'>
		<div class="col-md-3 pull-right input-group">
			#{form @Meals.search(), enctype:'multipart/form-data', role:'form'}
				<div class="form-group">
					<input name="searchToken" type="text" class="form-control">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit">Go!</button>
					</span>
				</div>
			#{/form}
		</div>  
	</div>

    <div >
       #{listMeals meals: meals /}
    </div>

	<div class="col-md-6">
      #{createMeal categories: categories ,prices: prices /}
  	</div>
</div>