#{extends 'main.html' /}
#{set title:'Home' /}

<script type="text/javascript">
	function find() {
		// we coul
		var findAction = #{jsRoute @Meals.find(':name') /}
		// new line because the jsRoute tag does not put one and the 
		// interpretation fails

		var searchToken = $("#searchToken").val()

		$.ajax({
			url: findAction.url({name: searchToken}),
			type: findAction.method,
			success: function(meals) {
				var html = ""
				meals.forEach(function(meal) {
					html += 
					"<tr>" +
						"<td>" + meal.name + "</td>" +
					"</tr>"
				})
				$("#mealTable").html(html)				
			}
	   })
	}
</script>

<div class="container">
	<div class='row'>
		<h2>Meals for: ${user.email}</h2>
		
		<a href="/Users/logout" class="btn btn-warning " type="button">Logout</a>
	</div>

	<div class='row'>
		<div class="col-md-3 pull-right input-group">
			<input id="searchToken" type="search" class="form-control">
			<span class="input-group-btn">
				<button class="btn btn-default" onClick="find()" type="button">Go!</button>
			</span>
		</div>
	</div>

    <div >
       #{listMeals meals: meals /}
    </div>

	<div class="col-md-6">
      #{createMeal categories: categories /}
  	</div>
</div>