#{extends 'main.html' /}
#{set title:'Search Meals' /}
<script type="text/javascript">
	
</script>  

<div class="container">
	<div class='row'>
		<h2>Meals for: ${user.email}</h2>
		<a href="/Users/logout" class="btn btn-warning " type="button">Logout</a>
	</div>

	<div class='row' style="margin-top: 25px; margin-left: 10px;">
		<div class="col-md-4 input-group">
			#{form @Meals.search(), enctype:'multipart/form-data', role:'form'}
				<div class="form-group">
					<input name="searchToken" value="${searchToken}" type="text" class="form-control">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit">Go!</button>
					</span>
				</div>
<!-- 				<div class="header"> -->
<!-- 					<span>Expand</span> -->
<!-- 				</div> -->
<!-- 				<div class="content"> -->
					<h4>Search Filters:</h4>
					<div class="form-group">
					    <label for="category">Category:</label>
					    #{if !category.isEmpty()}
					    	#{select 'category', items:categories, valueProperty:'name', labelProperty:'name', value:category, class:'form-control' /}
					    #{/if}
					    #{else}
					    	#{select 'category', items:categories, valueProperty:'name', labelProperty:'name', value:'', class:'form-control' /}
					    #{/else}
					</div>
					<div class="form-group">
						<label for="ingredients" style="margin-top: 10px;">Ingredients:</label>
					    #{if !ingredients.isEmpty()}
					    	<input class="form-control" type="text" name="ingredients" value="${ingredients}" />
					    #{/if}
					    #{else}
					    	<input class="form-control" type="text" name="ingredients" value="" />
					    #{/else}
					</div>
<!-- 				</div> -->
			#{/form}
		</div>
		<h4 style="margin-top: 30px;">Results:</h4>  
	</div>
	
    <div>
       #{listMeals meals: meals /}
    </div>

	<!-- <div class="col-md-6">
      #{createMeal categories: categories /}
  	</div>  -->
</div>