#basketCartHEADER_44 {
    color: rgb(71, 71, 71);
    height: 157px;
    position: relative;
    text-decoration: none solid rgb(71, 71, 71);
    text-transform: uppercase;
    width: 322px;
    border-top: 0px none rgb(71, 71, 71);
    border-right: 0px none rgb(71, 71, 71);
    border-bottom: 1px solid rgb(207, 207, 207);
    border-left: 0px none rgb(71, 71, 71);
    font: normal normal normal 16px/24px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(71, 71, 71) none 0px;
}/*#basketCartHEADER_44*/

#basketCartDIV_45 {
    color: rgb(71, 71, 71);
    height: 125px;
    text-decoration: none solid rgb(71, 71, 71);
    text-transform: uppercase;
    width: 1279px;
    background: rgb(245, 245, 245) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(71, 71, 71);
    font: normal normal normal 16px/24px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(71, 71, 71) none 0px;
}/*#basketCartDIV_45*/

#basketCartDIV_46 {
    color: rgb(71, 71, 71);
    height: 125px;
    text-decoration: none solid rgb(71, 71, 71);
    text-transform: uppercase;
    width: 1170px;
    border: 0px none rgb(71, 71, 71);
    font: normal normal normal 16px/24px 'Open Sans', sans-serif;
    list-style: none outside none;
    margin: 0px 54.5px;
    outline: rgb(71, 71, 71) none 0px;
}/*#basketCartDIV_46*/

#basketCartDIV_47 {
    color: rgb(71, 71, 71);
    height: 125px;
    text-decoration: none solid rgb(71, 71, 71);
    text-transform: uppercase;
    width: 1170px;
    border: 0px none rgb(71, 71, 71);
    font: normal normal normal 16px/24px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(71, 71, 71) none 0px;
}/*#basketCartDIV_47*/

#basketCartDIV_48 {
    box-sizing: border-box;
    color: rgb(71, 71, 71);
    float: left;
    height: 125px;
    min-height: 1px;
    text-decoration: none solid rgb(71, 71, 71);
    text-transform: uppercase;
    width: 1170px;
    border: 0px none rgb(71, 71, 71);
    font: normal normal normal 16px/24px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(71, 71, 71) none 0px;
}/*#basketCartDIV_48*/

#basketCartNAV_49 {
    color: rgb(71, 71, 71);
    height: 25px;
    text-decoration: none solid rgb(71, 71, 71);
    text-transform: uppercase;
    width: 1170px;
    border: 0px none rgb(71, 71, 71);
    font: normal normal normal 16px/24px 'Open Sans', sans-serif;
    list-style: none outside none;
    margin: 50px 0px;
    outline: rgb(71, 71, 71) none 0px;
}/*#basketCartNAV_49*/

#basketCartDIV_1 {
    box-sizing: border-box;
    margin-right: 100px;
    color: rgb(71, 71, 71);
    float: right;
    height: 49px;
    min-width: 322px;
    position: relative;
    text-decoration: none solid rgb(71, 71, 71);
    width: 322px;
/*     border: 1px solid rgb(207, 207, 207); */
    font: normal normal 600 14px/24px 'Open Sans', sans-serif;
    list-style: none outside none;
/*     margin: 20px 11px 0px; */
    outline: rgb(71, 71, 71) none 0px;
/*     padding: 0px 15px; */
}/*#basketCartDIV_1*/

#basketCartDIV_2 {
    color: rgb(71, 71, 71);
    height: 47px;
    text-decoration: none solid rgb(71, 71, 71);
    width: 290px;
    border: 0px none rgb(71, 71, 71);
    font: normal normal 600 14px/24px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(71, 71, 71) none 0px;
}/*#basketCartDIV_2*/

#basketCartDIV_3 {
    color: rgb(71, 71, 71);
    float: left;
    height: 24px;
    max-width: 154px;
    min-width: 133px;
    text-align: center;
    text-decoration: none solid rgb(71, 71, 71);
    vertical-align: middle;
    width: 133px;
    border-top: 0px none rgb(71, 71, 71);
    border-right: 1px solid rgb(207, 207, 207);
    border-bottom: 0px none rgb(71, 71, 71);
    border-left: 0px none rgb(71, 71, 71);
    font: normal normal 600 14px/24px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(71, 71, 71) none 0px;
    padding: 11px 11px 11px 0px;
}/*#basketCartDIV_3*/

#basketCartDIV_4 {
    color: rgb(71, 71, 71);
    height: 24px;
    text-align: center;
    text-decoration: none solid rgb(71, 71, 71);
    width: 133px;
    border: 0px none rgb(71, 71, 71);
    font: normal normal 600 14px/24px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(71, 71, 71) none 0px;
}/*#basketCartDIV_4*/

#basketCartA_5, #basketCartA_7 {
    color: rgb(128, 168, 39);
    text-align: center;
    text-decoration: none solid rgb(128, 168, 39);
    border-top: 0px none rgb(128, 168, 39);
    border-right: 0px none rgb(128, 168, 39);
    border-bottom: 1px solid rgb(128, 168, 39);
    border-left: 0px none rgb(128, 168, 39);
    font: normal normal 600 14px/24px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(128, 168, 39) none 0px;
}/*#basketCartA_5, #basketCartA_7*/

#basketCartDIV_6 {
    color: rgb(71, 71, 71);
    display: none;
    height: auto;
    text-align: center;
    text-decoration: none solid rgb(71, 71, 71);
    width: auto;
    border: 0px none rgb(71, 71, 71);
    font: normal normal 600 14px/24px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(71, 71, 71) none 0px;
}/*#basketCartDIV_6*/

#basketCartDIV_8 {
	float:right;
	background-color: white;
    box-sizing: border-box;
    color: rgb(71, 71, 71);
    display: inline-block;
    height: 46px;
    text-align: center;
    text-decoration: none solid rgb(71, 71, 71);
    vertical-align: middle;
    width: 121px;
    border: 0px none rgb(71, 71, 71);
    font: normal normal 600 14px/24px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(71, 71, 71) none 0px;
    padding: 11px 0px 11px 26.8125px;
}/*#basketCartDIV_8*/

#basketCartA_9 {
    color: rgb(71, 71, 71);
    display: block;
    height: 24px;
    position: relative;
    text-align: left;
    text-decoration: none solid rgb(71, 71, 71);
    width: 49.1875px;
    border: 0px none rgb(71, 71, 71);
    font: normal normal 600 14px/24px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(71, 71, 71) none 0px;
    padding: 0px 0px 0px 45px;
}/*#basketCartA_9*/

#basketCartI_10 {
    background-position: 0px -407px;
    color: rgb(71, 71, 71);
    display: block;
    height: 18.5px;
    left: 17px;
    position: absolute;
    text-align: left;
    text-decoration: none solid rgb(71, 71, 71);
    top: 0px;
    width: 20px;
    background: rgba(0, 0, 0, 0) url(https://dusyefwqqyfwe.cloudfront.net/assets/icons-2x-s6a9584c8d1-ef02976eda132fc297c514bf029460fb.png) no-repeat scroll 0px -407px / 160px 1255.5px padding-box border-box;
    border: 0px none rgb(71, 71, 71);
    font: italic normal 600 14px/24px 'Open Sans', sans-serif;
    list-style: none outside none;
    margin: 0px 6px 7px 0px;
    outline: rgb(71, 71, 71) none 0px;
    overflow: hidden;
}/*#basketCartI_10*/

#basketCartSPAN_11 {
    color: rgb(255, 255, 255);
    display: none;
    height: 18px;
    left: 26px;
    position: absolute;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    top: 12px;
    vertical-align: top;
    width: 18px;
    background: rgb(204, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 50% 50% 50% 50%;
    font: normal normal 600 10px/18px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#basketCartSPAN_11*/

#basketCartDIV_12 {
    background-position: 50% 100%;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.298039) 2px 0px 2px -2px;
    box-sizing: border-box;
    color: rgb(71, 71, 71);
    height: 443.453125px;
    left: 0px;
    opacity: 0.9700000286102295;
    position: absolute;
    text-align: left;
    text-decoration: none solid rgb(71, 71, 71);
    top: 47px;
    width: 321px;
    z-index: 1;
    background: rgba(0, 0, 0, 0) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAHCAQAAADD2ofxAAAAvUlEQVR4AaXMsUrDUBSA4S83q5MVn8Dd3cFRqyjVIt2ls/g4TnYSB5GOig9RIZMiQWjsHTNoHQSLsRTENmu/Hw6cM5wkVpYSLOcrVM/qvvUU6go9E4teHIXVw2RQmTNxpqtdezF0rOvcj39vOh6SqNEor6pmAnw41Qcbbm0CMidy0HFpBQy1ZATKcq0VLiC8pntpPzUrt+sO3NuRA24cKPBkXwbirPd0dD36HG+PzRfX4yA+TqeFmtPb1t/2C8rlTyuv2x30AAAAAElFTkSuQmCC) repeat-x scroll 50% 100% / auto padding-box border-box;
    border: 0px none rgb(71, 71, 71);
    font: normal normal 600 14px/24px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(71, 71, 71) none 0px;
    padding: 0px 0px 5px;
}/*#basketCartDIV_12*/

#basketCartDIV_13 {
    box-shadow: rgba(0, 0, 0, 0.298039) -2px 0px 2px -2px;
    color: rgb(71, 71, 71);
    height: 428.453125px;
    text-align: left;
    text-decoration: none solid rgb(71, 71, 71);
    width: 311px;
    background: rgb(231, 231, 231) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(71, 71, 71);
    font: normal normal 600 14px/24px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(71, 71, 71) none 0px;
    padding: 5px;
}/*#basketCartDIV_13*/

#basketCartDIV_14 {
    box-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 2px 0px inset;
    color: rgb(71, 71, 71);
    height: 263.453125px;
    text-align: left;
    text-decoration: none solid rgb(71, 71, 71);
    width: 300px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(71, 71, 71);
    font: normal normal 600 14px/24px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(71, 71, 71) none 0px;
    padding: 5px;
}/*#basketCartDIV_14*/

#basketCartA_15 {
    color: rgb(71, 71, 71);
    display: block;
    height: 20px;
    opacity: 0.20000000298023224;
    position: absolute;
    right: 11px;
    text-align: left;
    text-decoration: none solid rgb(71, 71, 71);
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
    width: 11px;
    z-index: 0;
    border: 0px none rgb(71, 71, 71);
    font: normal normal bold 20px/20px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(71, 71, 71) none 0px;
}/*#basketCartA_15*/

#basketCartH3_16 {
    color: rgb(51, 51, 51);
    height: 20px;
    text-align: center;
    text-decoration: none solid rgb(51, 51, 51);
    text-rendering: optimizelegibility;
    width: 301px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 19px/20.591999053955078px 'Open Sans', sans-serif;
    list-style: none outside none;
    margin: 14.039999008178711px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#basketCartH3_16*/

#basketCartUL_17 {
    color: rgb(71, 71, 71);
    height: 215.390625px;
    position: relative;
    text-align: left;
    text-decoration: none solid rgb(71, 71, 71);
    width: 301px;
    border: 0px none rgb(71, 71, 71);
    font: normal normal normal 14px/24px 'Open Sans', sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(71, 71, 71) none 0px;
    padding: 0px;
}/*#basketCartUL_17*/

#basketCartLI_18 {
    color: rgb(71, 71, 71);
    height: 77.796875px;
    text-decoration: none solid rgb(71, 71, 71);
    width: 301px;
    border: 0px none rgb(71, 71, 71);
    font: normal normal normal 14px/17px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(71, 71, 71) none 0px;
}/*#basketCartLI_18*/

#basketCartDIV_19 {
    color: rgb(71, 71, 71);
    height: 60px;
    text-align: left;
    text-decoration: none solid rgb(71, 71, 71);
    width: 196px;
    border-top: 1px dotted rgb(112, 112, 112);
    border-right: 0px none rgb(71, 71, 71);
    border-bottom: 0px none rgb(71, 71, 71);
    border-left: 0px none rgb(71, 71, 71);
    font: normal normal normal 14px/17px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(71, 71, 71) none 0px;
    padding: 6.800000190734863px 55px 10px 50px;
}/*#basketCartDIV_19*/

#basketCartI_20 {
    background-position: 0px -1185px;
    color: rgb(71, 71, 71);
    display: block;
    height: 30px;
    left: 5px;
    position: absolute;
    text-align: left;
    text-decoration: none solid rgb(71, 71, 71);
    vertical-align: top;
    width: 30px;
    background: rgba(0, 0, 0, 0) url(https://dusyefwqqyfwe.cloudfront.net/assets/icons-2x-s6a9584c8d1-ef02976eda132fc297c514bf029460fb.png) no-repeat scroll 0px -1185px / 160px 1255.5px padding-box border-box;
    border: 0px none rgb(71, 71, 71);
    font: italic normal normal 14px/17px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(71, 71, 71) none 0px;
    overflow: hidden;
}/*#basketCartI_20*/

#basketCartP_21 {
    color: rgb(71, 71, 71);
    height: 60px;
    min-height: 25px;
    text-align: left;
    text-decoration: none solid rgb(71, 71, 71);
    width: 196px;
    border: 0px none rgb(71, 71, 71);
    font: normal normal normal 14px/20.400001525878906px 'Open Sans', sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(71, 71, 71) none 0px;
}/*#basketCartP_21*/

#basketCartLI_22, #basketCartLI_30 {
    color: rgb(71, 71, 71);
    height: 68.796875px;
    text-decoration: none solid rgb(71, 71, 71);
    width: 301px;
    border: 0px none rgb(71, 71, 71);
    font: normal normal normal 14px/17px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(71, 71, 71) none 0px;
}/*#basketCartLI_22, #basketCartLI_30*/

#basketCartDIV_23, #basketCartDIV_31 {
    color: rgb(71, 71, 71);
    height: 51px;
    text-align: left;
    text-decoration: none solid rgb(71, 71, 71);
    width: 196px;
    border-top: 1px dotted rgb(112, 112, 112);
    border-right: 0px none rgb(71, 71, 71);
    border-bottom: 0px none rgb(71, 71, 71);
    border-left: 0px none rgb(71, 71, 71);
    font: normal normal normal 14px/17px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(71, 71, 71) none 0px;
    padding: 6.800000190734863px 55px 10px 50px;
}/*#basketCartDIV_23, #basketCartDIV_31*/

#basketCartSPAN_24, #basketCartSPAN_32 {
    color: rgb(71, 71, 71);
    display: block;
    height: 17px;
    position: absolute;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(71, 71, 71);
    width: 44px;
    border: 0px none rgb(71, 71, 71);
    font: normal normal normal 14px/17px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(71, 71, 71) none 0px;
}/*#basketCartSPAN_24, #basketCartSPAN_32*/

#basketCartIMG_25, #basketCartIMG_33 {
    color: rgb(71, 71, 71);
    display: block;
    height: 40px;
    left: 0px;
    max-width: 100%;
    position: absolute;
    text-align: left;
    text-decoration: none solid rgb(71, 71, 71);
    vertical-align: middle;
    width: 40px;
    border: 0px none rgb(71, 71, 71);
    font: normal normal normal 14px/17px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(71, 71, 71) none 0px;
}/*#basketCartIMG_25, #basketCartIMG_33*/

#basketCartSPAN_26, #basketCartSPAN_34 {
    color: rgb(71, 71, 71);
    display: block;
    height: 17px;
    text-align: left;
    text-decoration: none solid rgb(71, 71, 71);
    width: 196px;
    border: 0px none rgb(71, 71, 71);
    font: normal normal bold 14px/17px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(71, 71, 71) none 0px;
}/*#basketCartSPAN_26, #basketCartSPAN_34*/

#basketCartSPAN_27, #basketCartSPAN_28, #basketCartSPAN_35 {
    color: rgb(71, 71, 71);
    display: block;
    height: 17px;
    text-align: left;
    text-decoration: none solid rgb(71, 71, 71);
    width: 196px;
    border: 0px none rgb(71, 71, 71);
    font: normal normal normal 14px/17px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(71, 71, 71) none 0px;
}/*#basketCartSPAN_27, #basketCartSPAN_28, #basketCartSPAN_35*/

#basketCartA_29, #basketCartA_37 {
    color: rgb(255, 31, 31);
    text-align: left;
    text-decoration: underline solid rgb(255, 31, 31);
    border: 0px none rgb(255, 31, 31);
    font: normal normal normal 14px/17px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(255, 31, 31) none 0px;
}/*#basketCartA_29, #basketCartA_37*/

#basketCartSPAN_36 {
    color: rgb(71, 71, 71);
    display: block;
    height: 17px;
    text-align: left;
    text-decoration: none solid rgb(71, 71, 71);
    width: 196px;
    border: 0px none rgb(71, 71, 71);
    font: normal normal normal 14px/17px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(71, 71, 71) none 0px;
}/*#basketCartSPAN_36*/

#basketCartDIV_38 {
    color: rgb(71, 71, 71);
    height: 155px;
    text-align: center;
    text-decoration: none solid rgb(71, 71, 71);
    width: 311px;
    border: 0px none rgb(71, 71, 71);
    font: normal normal 600 14px/24px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(71, 71, 71) none 0px;
}/*#basketCartDIV_38*/

#basketCartDIV_39 {
    color: rgb(71, 71, 71);
    height: 24px;
    text-align: left;
    text-decoration: none solid rgb(71, 71, 71);
    width: 311px;
    border: 0px none rgb(71, 71, 71);
    font: normal normal 600 14px/24px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(71, 71, 71) none 0px;
    padding: 5px 0px;
}/*#basketCartDIV_39*/

#basketCartA_40 {
    color: rgb(71, 71, 71);
    text-align: left;
    text-decoration: none solid rgb(71, 71, 71);
    border: 0px none rgb(71, 71, 71);
    font: normal normal normal 14px/24px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(71, 71, 71) none 0px;
}/*#basketCartA_40*/

#basketCartI_41 {
    background-position: 0px -1121px;
    color: rgb(71, 71, 71);
    display: inline-block;
    height: 23px;
    text-align: left;
    text-decoration: none solid rgb(71, 71, 71);
    vertical-align: top;
    width: 23.5px;
    background: rgba(0, 0, 0, 0) url(https://dusyefwqqyfwe.cloudfront.net/assets/icons-2x-s6a9584c8d1-ef02976eda132fc297c514bf029460fb.png) no-repeat scroll 0px -1121px / 160px 1255.5px padding-box border-box;
    border: 0px none rgb(71, 71, 71);
    font: italic normal normal 14px/24px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(71, 71, 71) none 0px;
    overflow: hidden;
}/*#basketCartI_41*/

#basketCartSPAN_42 {
    color: rgb(71, 71, 71);
    display: block;
    height: 24px;
    text-align: right;
    text-decoration: none solid rgb(71, 71, 71);
    text-transform: uppercase;
    width: 291px;
    border-top: 1px dotted rgb(112, 112, 112);
    border-right: 0px none rgb(71, 71, 71);
    border-bottom: 1px dotted rgb(112, 112, 112);
    border-left: 0px none rgb(71, 71, 71);
    font: normal normal 600 17px/24px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(71, 71, 71) none 0px;
    padding: 10px;
}/*#basketCartSPAN_42*/

#basketCartA_43 {
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 3px 0px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    height: 24px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    vertical-align: middle;
    white-space: nowrap;
    width: 71px;
    background: rgb(128, 168, 39) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 3px 3px 3px 3px;
    font: normal normal normal 16px/24.479999542236328px 'Open Sans', sans-serif;
    list-style: none outside none;
    margin: 20px 0px 15px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 7px 50px;
}/*#basketCartA_43*/

/* #BasketItemsTemplateOutput {
	
	display: none;
	
} */
 #proceedtobasket{
	display: none;
}
#checkoutButtonDIV_13 {
    color: rgb(71, 71, 71);
    height: 47px;
    display: none;
    position: relative;
    text-align: right;
    text-decoration: none solid rgb(71, 71, 71);
    width: 308px;
    border: 0px none rgb(71, 71, 71);
    font: normal normal normal 14px/24px 'Open Sans', sans-serif;
    outline: rgb(71, 71, 71) none 0px;
    padding: 10.799999237060547px;
}/*#checkoutButtonDIV_13*/

#checkoutButtonFORM_14 {
    color: rgb(71, 71, 71);
    height: 47px;
    text-align: center;
    text-decoration: none solid rgb(71, 71, 71);
    width: 308px;
    border: 0px none rgb(71, 71, 71);
    font: normal normal normal 14px/24px 'Open Sans', sans-serif;
    margin: 0px;
    outline: rgb(71, 71, 71) none 0px;
}/*#checkoutButtonFORM_14*/

#checkoutButtonA_1 {
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 3px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    /* display: inline-block; */
    height: 42px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    vertical-align: middle;
    white-space: nowrap;
    width: 132px;
    background: rgb(128, 168, 39) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 3px 3px 3px 3px;
    font: normal normal bold 12px/26.928001403808594px 'Open Sans', sans-serif;
    margin: 0px 0px 5px 5px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 7px 15px;
}/*#checkoutButtonA_1*/




 