.mealForm   {
font-family: Tahoma, Geneva, sans-serif;
font-size: 14px;
font-style: italic;
line-height: 24px;
font-weight: bold;
color: #6B8F00;
text-decoration: none;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;

border: 1px solid #999;
border: inset 1px solid #333;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.mealForm  .form-group  {
width: 500px;
}

h1  {
font-family: Tahoma, Geneva, sans-serif;
font-size: 20px;
font-style: italic;
line-height: 24px;
font-weight: bold;
color: 	#140A00;
}