#{extends 'main.html' /}
#{set title:'Home' /}
<p />
<h2>&{'checkout_txt_heading'}</h2>
<p>
<h3>&{'checkout_txt_detail'}</h3>
</p>
<div id="checkout">
	<table class="table table-hover">
		<thead>
			<tr class="dataTableHeader">
				<th class="dataTableCol1">&{'checkout_txt_name_col_header'}</th>
				<th class="dataTableCol1">&{'checkout_txt_description_col_header'}</th>
				<th class="dataTableCol1">&{'checkout_txt_price_col_header'}</th>
				<th class="dataTableCol1">&{'checkout_txt_quantity_col_header'}</th>
			</tr>
		</thead>
		<tbody>
		#{list items: basketItems, as:'basketItem'}
			<tr class="dataTableRow1">
				<td class="dataTableCol1">${basketItem.item.name}</td>
				<td class="dataTableCol1">${basketItem.item.description}</td>
				<td class="dataTableCol1">${basketItem.price}</td>
				<td class="dataTableCol1">${basketItem.quantity}</td>
			</tr>
		#{/list}
		</tbody>
	</table>
	<b>&{'checkout_txt_total'}</b> ${total}
	<p />
	#{form @processPayment()}
		<input name="_pay" type="submit" value="&{'btn_pay'}" />
		<input name="_cancel" type="submit" value="&{'btn_cancel'}" />
	#{/form}
</div>
