#{extends 'main.html' /}
#{set title:'Home' /}
<p />
<h2>Thank you, ${user} for ordering with CookForMe</h2>
<div id="processPayment">

<li class="cart-item" data-item-id="2426">
 
      <div class="cart-item-details">
        <span class="cart-item-price">${total}</span>
        <img src="//dusyefwqqyfwe.cloudfront.net/uploads/utility/image/file/3422/small_square__Crispy_Vegetable_Fideos_hero.jpg" alt="Crispy Vegetable Fideos" class="cart-item-img">
        <span class="cart-item-title">${basketItems.item.name}</span>
        <span class="cart-item-quantity">QTY: ${basketItems.quantity} plates</span>
      </div>
    </li>
	

	#{form @restartShopping()}
		<input type="submit" value="&{'btn_continue'}" />
	#{/form}
</div>
