#{extends 'main.html' /}
#{set title:'Home' /}
<p />
<h1 class="mybasket">&{'items_txt_heading'}</h1>
<div class="basketItems" id="items">
	<table class="table table-hover text-center">
		<thead>
			<tr class="dataTableHeader">
				<th class="dataTableCol1 text-center">&{'items_txt_name_col_header'}</th>
				<th class="dataTableCol1 text-center">&{'items_txt_description_col_header'}</th>
				<th class="dataTableCol1 text-center">&{'items_txt_price_col_header'}</th>
				<th class="dataTableCol1"></th>
			</tr>
		</thead>
		<tbody>
		#{list items:items, as:'item'}
			<tr class="dataTableRow1">
				<td class="dataTableCol1">${item.name}</td>
				<td class="dataTableCol1">${item.description}</td>
				<td class="dataTableCol1">&pound;${item.price.format('0.00')}</td>
				<td class="dataTableCol1">
					<a href="" onclick="return addItem(${item.id});">&{'items_lnk_buy'}</a>
				</td>
			</tr>
		#{/list}
		</tbody>
	</table>
</div>


<p/>
<div id="BasketItemsTemplateOutput">
<script id="basketItems_tmpl" type="text/html">
<h2>&{'items_txt_basket'}</h2>

<div>
	<table id="basketTbl" class="dataTable">
        <thead>
            <tr class="dataTableHeader">
                <th class="dataTableCol1">&{'items_txt_basket_item_col_header'}</th>
				<th class="dataTableCol1">&{'items_txt_basket_quantity_col_header'}</th>
				<th class="dataTableCol1">&{'items_txt_basket_price_col_header'}</th>
				<th class="dataTableCol1"></th>
            </tr>
        </thead>
		
		<tbody>
		#{list items: basketItems, as:'basketItem'}
			<tr class="dataTableRow1">
				<td class="dataTableCol1">${basketItem.item.name}</td>
				<td class="dataTableCol1">${basketItem.quantity}</td>
				<td class="dataTableCol1">${basketItem.price}</td>
			</tr>
		#{/list}
		</tbody>

	
        <tbody>
        <%
            for(var i=0; i < basketItems.length; i++)     
            {      
               var basketItem = basketItems[i]; 
        %>
                <tr class="dataTableRow1">
                   <td class="dataTableCol1" id="BasketItemRow_<%= i.toString() %>">
                        <%= basketItem.item.name %> 
                   </td>
                   <td class="dataTableCol1">
                        <%= basketItem.quantity %>
                   </td>
                   <td id="priceCell" class="dataTableCol1">
					  <%= basketItem.price %>
                   </td>
					<td class="dataTableCol1">
					   <a href="" onclick="return removeItem(<%= basketItem.item.id %>);">&{'items_lnk_remove'}</a>
					</td>
                </tr>
        <% 
            }
        %>
        </tbody>
    </table>
    <br />
    <%= basketItems.length %> records shown
	<p />
	
	#{form @checkout()}
		<input type="submit" value="&{'btn_checkout'}" />
	#{/form}
</div>
</script>
</div>
<script type="text/JavaScript">   
	function addItem(itemid) {	
		console.log('additem was clicked'+itemid);
		
		$.ajax({
            type: "POST",
            url: "/items/add/"+itemid,
            //data: {newname: newname}, 
  		     data: {},
  		     contentType: "text/xml",
  		     dataType: 'xml', 
  		     success: function(json) {
  		    	console.log('result='+json);
  		    	
  	   			$('#BasketItemsTemplateOutput').html(tmpl('basketItems_tmpl', {basketItems: json}));
	  	   		$('#basketTbl #priceCell').each(function() {
	  	   			$(this).formatCurrency({region: 'en-GB'});
	        	 });
  		     },
  		     error: function(json) {
  	   		     alert('fail: ' + json);
  	   			
  		     } 
  		 });	 
  		 
   	 return false; 
  	}	
	
	function removeItem(basketItemId) {
		$.ajax({
            type: "POST",
            url: "/items/remove/"+basketItemId,
  		     data: {},
  		     contentType: "application/json; charset=utf-8",
  		     dataType: "json", 
  		    success: function(json) {
  	   			$('#BasketItemsTemplateOutput').html(tmpl('basketItems_tmpl', {basketItems: json}));
  	   			$('#basketTbl #priceCell').each(function() {
	  	   			$(this).formatCurrency({region: 'en-GB'});
        	 	});
  		     },
  		     
  		     error: function(json) {
  	   		     alert('fail: ' + json); 
  		     } 
  		 });
   	 return false; 
  	}	
</script> 

