#{extends 'main.html' /}
#{set title:'Home' /}

<div id="checkout" class="checkout-container container-fluid">
  <header class="header-checkout">
  <span class="header-checkout-lead">Secure Checkout</span>

</header>


  <ol class="checkout-steps">

    <li class="checkout-step step-active" id="checkout-shipping">
      <h3 class="checkout-step-header">
        <span class="checkout-step-number">Step 1</span>
        Shipping
      </h3>
      <div class="checkout-step-content">
        <form accept-charset="UTF-8" action="/addresses/71822.json" class="simple_form form-block form-checkout" data-remote="true" id="form-checkout-shipping" method="post" novalidate="novalidate" style="display: block;"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="_method" type="hidden" value="put"><input name="authenticity_token" type="hidden" value="dRnEyZXi26hgEJojAdFsan22wRsPAs50eDBCDRC3gOE="></div>
          <div class="checkout-section checkout-section-white">
            <div class="row-fluid">
              <label for="user_address_first_name" wrapper_html="{:class=>&quot;span6&quot;}">Enter your shipping information</label>
            </div>
            <div class="row-fluid">
              <div class="input string required user_address_first_name span6"><input autocomplete="given-name" class="string required" id="user_address_first_name" name="user_address[first_name]" placeholder="First name" size="30" type="text" value="Akshit"></div>
              <div class="input string required user_address_last_name span6"><input autocomplete="family-name" class="string required" id="user_address_last_name" name="user_address[last_name]" placeholder="Last name" size="30" type="text" value="Malhotra"></div>
            </div>
            <div class="row-fluid">
  <div class="input string required user_address_address_line_1 span12"><input autocomplete="address-line1" class="string required" id="user_address_address_line_1" name="user_address[address_line_1]" placeholder="Address" size="30" type="text" value=""></div>
</div>
<div class="row-fluid">
  <div class="input string optional user_address_address_line_2 span12"><input autocomplete="address-line2" class="string optional" id="user_address_address_line_2" name="user_address[address_line_2]" placeholder="Address" size="30" type="text" value=""></div>
</div>
<div class="row-fluid">
  <div class="input string required user_address_city span7"><input autocomplete="locality" class="string required" id="user_address_city" name="user_address[city]" placeholder="City" size="30" type="text" value="Munich"></div>
  <div class="input string required user_address_state span2"><input autocomplete="region" class="string required" id="user_address_state" maxlength="2" name="user_address[state]" placeholder="ST" size="30" type="text" value="MUC"></div>
  <div class="input string required user_address_zip_code span3"><input autocomplete="postal-code" class="string required" id="user_address_zip_code" name="user_address[zip_code]" placeholder="Zip code" size="30" type="text" value="80937"></div>
</div>

            <div class="row-fluid">
              <div class="input tel required user_address_phone_number span12"><input autocomplete="tel-national" class="string tel required" id="user_address_phone_number" name="user_address[phone_number]" placeholder="Phone number" size="30" type="tel" value=""></div>
            </div>
          </div>

          <div class="checkout-section checkout-section-white">
            <div class="row-fluid">
              <div class="input boolean optional user_address_business_address span12"><input name="user_address[business_address]" type="hidden" value="0"><label class="boolean optional control-label checkbox" for="is-business-address"><input class="boolean optional" id="is-business-address" name="user_address[business_address]" placeholder="Business address" type="checkbox" value="1">This is a commercial address</label></div>
            </div>
            <div class="row-fluid" id="is-business-address-toggle" style="display: none;">
              <div class="input string optional user_address_company span12"><input autocomplete="organization" class="string optional" id="user_address_company" name="user_address[company]" placeholder="Company name" size="30" type="text" value=""></div>
            </div>
          </div>

          <div class="checkout-section checkout-section-white">
            <div class="checkout-delivery-instructions">
              <div class="row-fluid">
                <div class="span12">
                  <i class="icon-add-green add-delivery-instructions-icon"></i>
                  <label for="user_address_delivery_instructions" id="add-delivery-instructions-label">Add delivery instructions</label>
                </div>
              </div>
              <div class="row-fluid" id="add-delivery-instructions-container" style="display: none;">
                <div class="input text optional user_address_delivery_instructions"><textarea class="text optional span12" cols="40" id="add-delivery-instructions" maxlength="40" name="user_address[delivery_instructions]" placeholder="Delivery instructions" rows="20"></textarea></div>
              </div>
            </div>
          </div>

          <div class="checkout-section block-error">
            <ul id="checkout-shipping-address-errors"></ul>
          </div>
          
        <div class="checkout-section">
        	::before
            <div class="row-fluid">
              <input class="button secondary checkout-submit button-block" data-disable-with="Saving..." name="commit" type="submit" value="Next">
            </div>
            ::after
          </div>
          

</form>
        <div class="checkout-shipping-read-only"></div>
      </div>
    </li>

    <li class="checkout-step" id="checkout-billing">
      <h3 class="checkout-step-header">
        <span class="checkout-step-number">Step 2</span>
        Billing
      </h3>
      <div class="checkout-step-content">
        <div class="checkout-section checkout-secure">
          <span class="pull-right"><i class="icon-secure"></i> Secure</span>
        </div>
        <form accept-charset="UTF-8" action="/payment_profiles.json" class="simple_form form-block form-checkout " data-remote="true" id="form-checkout-billing" method="post" novalidate="novalidate"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="dRnEyZXi26hgEJojAdFsan22wRsPAs50eDBCDRC3gOE="></div>
          <div class="checkout-section checkout-section-white">
            <div class="row-fluid">
              <label for="billing_first_name">Enter your billing information</label>
            </div>
            <div class="row-fluid">
              <div class="input string required billing_first_name span6"><input class="string required" id="billing_first_name" name="billing[first_name]" placeholder="First name" size="30" type="text" value="Akshit"></div>
              <div class="input string required billing_last_name span6"><input class="string required" id="billing_last_name" name="billing[last_name]" placeholder="Last name" size="30" type="text" value="Malhotra"></div>
            </div>

            <div class="checkout-section-inner">
              <div class="row-fluid">
                <i class="creditcards"></i>
              </div>
              <div class="row-fluid">
                <div class="input string required billing_cc_number span9"><input class="string required" id="billing_cc_number" name="billing[cc_number]" placeholder="Card number" size="30" type="text"></div>
                <div class="input string required billing_cvv span3"><input class="string required" id="billing_cvv" maxlength="4" name="billing[cvv]" placeholder="CVV" size="30" type="text"></div>
              </div>
    
            </div>
          </div>
          <div class="checkout-section">
            <div class="row-fluid">
              <div class="input boolean optional billing_billing_same"><input name="billing[billing_same]" type="hidden" value="0"><label class="boolean optional control-label checkbox" for="billing-is-same"><input checked="checked" class="boolean optional" id="billing-is-same" name="billing[billing_same]" placeholder="Billing same" type="checkbox" value="1">Billing address is the same as the shipping address</label></div>
            </div>
          </div>
          <div class="checkout-section checkout-section-white" id="billing-is-same-toggle" style="display: none;">
            <div class="row-fluid">
              <label for="billing_address_line_1">Billing to</label>
            </div>
            <div class="row-fluid">
  <div class="input string required billing_address_line_1 span12"><input autocomplete="address-line1" class="string required" id="billing_address_line_1" name="billing[address_line_1]" placeholder="Address" size="30" type="text"></div>
</div>
<div class="row-fluid">
  <div class="input string required billing_address_line_2 span12"><input autocomplete="address-line2" class="string required" id="billing_address_line_2" name="billing[address_line_2]" placeholder="Address" size="30" type="text"></div>
</div>
<div class="row-fluid">
  <div class="input string required billing_city span7"><input autocomplete="locality" class="string required" id="billing_city" name="billing[city]" placeholder="City" size="30" type="text"></div>
  <div class="input string required billing_state span2"><input autocomplete="region" class="string required" id="billing_state" maxlength="2" name="billing[state]" placeholder="ST" size="30" type="text"></div>
  <div class="input string required billing_zip_code span3"><input autocomplete="postal-code" class="string required" id="billing_zip_code" name="billing[zip_code]" placeholder="Zip code" size="30" type="text"></div>
</div>

          </div>
</form>

      </div>

      
    <li class="checkout-step" id="checkout-review">
      <h3 class="checkout-step-header">
        <span class="checkout-step-number">Step 3</span>
        Review
      </h3>
      <div class="checkout-step-content">
        <form accept-charset="UTF-8"  action ="confirmPayment"  class="simple_form form-block form-checkout" data-remote="true" id="form-checkout-review" method="post" novalidate="novalidate"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="dRnEyZXi26hgEJojAdFsan22wRsPAs50eDBCDRC3gOE="></div>
          <div class="checkout-section checkout-section-white">
            <label class="string optional control-label" for="billing_Review your order">Review your order</label>
            <ul class="cart-items checkout-review-items">
    <li class="cart-item" data-item-id="2426">
 
      <div class="cart-item-details">
        <span class="cart-item-price">${total}</span>
        <img src="//dusyefwqqyfwe.cloudfront.net/uploads/utility/image/file/3422/small_square__Crispy_Vegetable_Fideos_hero.jpg" alt="Crispy Vegetable Fideos" class="cart-item-img">
        <span class="cart-item-title">${basketItems.item.name}</span>
        <span class="cart-item-quantity">QTY: ${basketItems.quantity} plates</span>
      </div>
    </li>


</ul>

<div class="checkout-review-subtotal">
  <div class="checkout-review-item clearfix">
    <span class="pull-left">Subtotal</span>
    <span class="pull-right">${total}</span>
  </div>
  <div class="checkout-review-item clearfix">
    <span class="pull-left">Delivery &amp; Handling</span>
    <span class="pull-right">Free</span>
  </div>
</div>
<div class="checkout-review-total checkout-review-item clearfix">
  <span class="pull-left">Total</span>
  <span class="pull-right">${total}</span>
</div>

          </div>
          <div class="checkout-section block-error">
            <ul id="checkout-review-errors"></ul>
          </div>
          <div class="checkout-section">
            <input class="button secondary checkout-submit button-block" data-disable-with="Placing Order..." name="commit" type="submit" value="Place Order">
          </div>
</form>
      </div>
      
    <span class="checkout-click-block"></span></li>
  </ol>
</div>


