<table class="table table-hover">
  <thead>
    <tr>
      <th>img</th>
      <th>name</th>
      <th>ingredients</th>
      <th>category</th>
      <th>fromDate</th>
      <th>tillDate</th>
    </tr>
  </thead>
  <tbody id="mealTable">
    #{list items: _meals, as:'m'}
    <tr>
      <td><img height="70" src="@{Meals.renderImage(m.id)}"></td>
      <td>${m.name}</td>
      <td>${m.ingredients}</td>
      <td>${m.category.name}</td>
      <td>${m.fromDate}</td>
      <td>${m.tillDate}</td>
    </tr>
    #{/list}
  </tbody>
</table>