<table class="table table-hover">
  <thead>
    <tr>
      <th>img</th>
      <th>name</th>
      <th>ingredients</th>
      <th>category</th>
      <th>price</th>
      <th>fromDate</th>
      <th>tillDate</th>
  	  <th>cook</th>
  	   #{if _displayQuantity == true}
		<th># of active orders</th>
	   #{/if}
    </tr>
  </thead>
  <tbody id="mealTable">
    #{list items: _meals, as:'m'}
    <tr>
      <td><img height="70" src="@{Meals.renderImage(m.id)}"></td>
      <td>${m.name}</td>
      <td>${m.ingredients}</td>
      <td>${m.category.name}</td>
      <td>${m.priceCategory.name}</td>
      <td>${m.fromDate}</td>
      <td>${m.tillDate}</td>
      <td>${m.user.name}</td>
      #{if _displayQuantity == true}
      	<td align="center">${m.numOrderedtimes}</td>
      #{/if}
    </tr>
    #{/list}
  </tbody>
</table>