#aboutusDIV_1 {
    color: rgb(41, 41, 41);
    height: 1402.0625px;
    text-decoration: none solid rgb(41, 41, 41);
    width: 1279px;
    border: 0px none rgb(41, 41, 41);
    font: normal normal 100 19px/27px 'Open Sans', sans-serif;
    outline: rgb(41, 41, 41) none 0px;
}/*#aboutusDIV_1*/

#aboutusDIV_2 {
    color: rgb(41, 41, 41);
    height: 1402.0625px;
    text-decoration: none solid rgb(41, 41, 41);
    width: 975px;
    border: 0px none rgb(41, 41, 41);
    font: normal normal 100 19px/27px 'Open Sans', sans-serif;
    margin: 0px 152px;
    outline: rgb(41, 41, 41) none 0px;
}/*#aboutusDIV_2*/

#aboutusDIV_2:after {
    clear: both;
    color: rgb(41, 41, 41);
    display: table;
    text-decoration: none solid rgb(41, 41, 41);
    width: 1px;
    content: '';
    border: 0px none rgb(41, 41, 41);
    font: normal normal 100 19px/0px 'Open Sans', sans-serif;
    outline: rgb(41, 41, 41) none 0px;
}/*#aboutusDIV_2:after*/

#aboutusDIV_2:before {
    color: rgb(41, 41, 41);
    display: table;
    text-decoration: none solid rgb(41, 41, 41);
    width: 1px;
    content: '';
    border: 0px none rgb(41, 41, 41);
    font: normal normal 100 19px/0px 'Open Sans', sans-serif;
    outline: rgb(41, 41, 41) none 0px;
}/*#aboutusDIV_2:before*/

#aboutusHEADER_3 {
    color: rgb(41, 41, 41);
    height: 302.5px;
    text-align: center;
    text-decoration: none solid rgb(41, 41, 41);
    width: 975px;
    border: 0px none rgb(41, 41, 41);
    font: normal normal 100 19px/27px 'Open Sans', sans-serif;
    outline: rgb(41, 41, 41) none 0px;
    padding: 30px 0px 40px;
}/*#aboutusHEADER_3*/

#aboutusH4_4 {
  /*  color: rgb(170, 170, 170);
    height: 49px;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none solid rgb(170, 170, 170);
    text-rendering: optimizelegibility;
    text-transform: uppercase;
    width: 975px;
  background: rgba(0, 0, 0, 0) url(http://gridelicious.com/themes/treble/demo/assets/images/css/divider.png) no-repeat scroll 50% 100% / auto padding-box border-box;
    border: 0px none rgb(170, 170, 170);
    font: normal normal 800 19px/27px 'Open Sans', sans-serif;
    margin: 13.5px 0px;
    outline: rgb(170, 170, 170) none 0px;
*/


   background-position: 50% 100%;
color: rgb(170, 170, 170);
/* height: 10px; */
letter-spacing: 1px;
text-align: center;
text-decoration: none solid rgb(170, 170, 170);
/* text-indent: -9999px; */
text-rendering: optimizelegibility;
text-transform: uppercase;
width: 630px;
/* content: ','; */
background: rgba(0, 0, 0, 0) url(http://gridelicious.com/themes/treble/demo/assets/images/css/divider.png) no-repeat scroll 50% 100% / auto padding-box border-box;
border: 0px none rgb(170, 170, 170);
font: normal normal 800 19px/27px 'Open Sans', sans-serif;
margin: 0px 172.5px 24px;
outline: rgb(170, 170, 170) none 0px;
padding: 0px 0px 12px;



}/*#aboutusH4_4*/

/*#aboutusH4_4:after {
    background-position: 50% 100%;
    color: rgb(170, 170, 170);
    height: 10px;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none solid rgb(170, 170, 170);
    text-indent: -9999px;
    text-rendering: optimizelegibility;
    text-transform: uppercase;
    width: 630px;
    content: ',';
    background: rgba(0, 0, 0, 0) url(http://gridelicious.com/themes/treble/demo/assets/images/css/divider.png) no-repeat scroll 50% 100% / auto padding-box border-box;
    border: 0px none rgb(170, 170, 170);
    font: normal normal 800 19px/27px 'Open Sans', sans-serif;
    margin: 0px 172.5px 24px;
    outline: rgb(170, 170, 170) none 0px;
    padding: 0px 0px 12px;
}/*#aboutusH4_4:after*/

#aboutusH1_5 {
    color: rgb(41, 41, 41);
    height: 81px;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none solid rgb(41, 41, 41);
    text-rendering: optimizelegibility;
    width: 975px;
    border: 0px none rgb(41, 41, 41);
    font: normal normal bold 76px/81px ChunkFiveRegular, 'Open Sans', sans-serif;
    margin: 13.5px 0px;
    outline: rgb(41, 41, 41) none 0px;
}/*#aboutusH1_5*/

#aboutusDIV_6 {
    color: rgb(41, 41, 41);
    height: 121.5px;
    text-align: center;
    text-decoration: none solid rgb(41, 41, 41);
    width: 996px;
    border: 0px none rgb(41, 41, 41);
    font: normal normal 100 19px/27px 'Open Sans', sans-serif;
    margin: 0px 0px 0px -21px;
    outline: rgb(41, 41, 41) none 0px;
}/*#aboutusDIV_6*/

#aboutusDIV_6:after {
    clear: both;
    color: rgb(41, 41, 41);
    display: table;
    text-align: center;
    text-decoration: none solid rgb(41, 41, 41);
    width: 1px;
    content: '';
    border: 0px none rgb(41, 41, 41);
    font: normal normal 100 19px/0px 'Open Sans', sans-serif;
    outline: rgb(41, 41, 41) none 0px;
}/*#aboutusDIV_6:after*/

#aboutusDIV_6:before {
    color: rgb(41, 41, 41);
    display: table;
    text-align: center;
    text-decoration: none solid rgb(41, 41, 41);
    width: 1px;
    content: '';
    border: 0px none rgb(41, 41, 41);
    font: normal normal 100 19px/0px 'Open Sans', sans-serif;
    outline: rgb(41, 41, 41) none 0px;
}/*#aboutusDIV_6:before*/

#aboutusDIV_7 {
    color: rgb(41, 41, 41);
    float: left;
    height: 121.5px;
    min-height: 1px;
    text-align: center;
    text-decoration: none solid rgb(41, 41, 41);
    width: 643px;
    border: 0px none rgb(41, 41, 41);
    font: normal normal 100 19px/27px 'Open Sans', sans-serif;
    margin: 0px 0px 0px 187px;
    outline: rgb(41, 41, 41) none 0px;
}/*#aboutusDIV_7*/

#aboutusP_8 {
    color: rgb(41, 41, 41);
    height: 108px;
    text-align: center;
    text-decoration: none solid rgb(41, 41, 41);
    width: 643px;
    border: 0px none rgb(41, 41, 41);
    font: normal normal 100 19px/27px 'Open Sans', sans-serif;
    margin: 0px 0px 13.5px;
    outline: rgb(41, 41, 41) none 0px;
}/*#aboutusP_8*/

#aboutusARTICLE_9 {
    color: rgb(41, 41, 41);
    height: 1016.0625px;
    text-decoration: none solid rgb(41, 41, 41);
    width: 975px;
    border: 0px none rgb(41, 41, 41);
    font: normal normal 100 19px/27px 'Open Sans', sans-serif;
    outline: rgb(41, 41, 41) none 0px;
}/*#aboutusARTICLE_9*/

#aboutusUL_10 {
    color: rgb(41, 41, 41);
    height: 1016.0625px;
    text-decoration: none solid rgb(41, 41, 41);
    width: 996px;
    border: 0px none rgb(41, 41, 41);
    font: normal normal 100 19px/27px 'Open Sans', sans-serif;
    list-style: none outside none;
    margin: 0px 0px 13.5px -21px;
    outline: rgb(41, 41, 41) none 0px;
    padding: 0px;
}/*#aboutusUL_10*/

#aboutusUL_10:after {
    clear: both;
    color: rgb(41, 41, 41);
    display: table;
    text-decoration: none solid rgb(41, 41, 41);
    width: 1px;
    content: '';
    border: 0px none rgb(41, 41, 41);
    font: normal normal 100 19px/0px 'Open Sans', sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(41, 41, 41) none 0px;
    padding: 0px;
}/*#aboutusUL_10:after*/

#aboutusUL_10:before {
    color: rgb(41, 41, 41);
    display: table;
    text-decoration: none solid rgb(41, 41, 41);
    width: 1px;
    content: '';
    border: 0px none rgb(41, 41, 41);
    font: normal normal 100 19px/0px 'Open Sans', sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(41, 41, 41) none 0px;
    padding: 0px;
}/*#aboutusUL_10:before*/

#aboutusLI_11, #aboutusLI_30, #aboutusLI_49, #aboutusLI_68, #aboutusLI_87, #aboutusLI_106 {
    color: rgb(41, 41, 41);
    float: left;
    height: 481.0625px;
    min-height: 1px;
    text-align: center;
    text-decoration: none solid rgb(41, 41, 41);
    width: 311px;
    border: 0px none rgb(41, 41, 41);
    font: normal normal 100 19px/27px 'Open Sans', sans-serif;
    list-style: none outside none;
    margin: 0px 0px 27px 21px;
    outline: rgb(41, 41, 41) none 0px;
}/*#aboutusLI_11, #aboutusLI_30, #aboutusLI_49, #aboutusLI_68, #aboutusLI_87, #aboutusLI_106*/

#aboutusDIV_12, #aboutusDIV_31, #aboutusDIV_50, #aboutusDIV_69, #aboutusDIV_88, #aboutusDIV_107 {
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 280px;
    position: relative;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    width: 280px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 100 19px/27px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
}/*#aboutusDIV_12, #aboutusDIV_31, #aboutusDIV_50, #aboutusDIV_69, #aboutusDIV_88, #aboutusDIV_107*/

#aboutusIMG_13, #aboutusIMG_32, #aboutusIMG_51, #aboutusIMG_70, #aboutusIMG_89, #aboutusIMG_108 {
    color: rgb(255, 255, 255);
    height: 280px;
    max-width: 100%;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    vertical-align: middle;
    width: 280px;
    border: 0px none rgb(255, 255, 255);
    border-radius: 500px 500px 500px 500px;
    font: normal normal 100 19px/27px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#aboutusIMG_13, #aboutusIMG_32, #aboutusIMG_51, #aboutusIMG_70, #aboutusIMG_89, #aboutusIMG_108*/

#aboutusDIV_14, #aboutusDIV_33, #aboutusDIV_52, #aboutusDIV_71, #aboutusDIV_90, #aboutusDIV_109 {
    color: rgb(255, 255, 255);
    height: 280px;
    left: -280px;
    opacity: 0;
    position: absolute;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    top: 0px;
    width: 280px;
    z-index: 4;
    background: rgb(78, 128, 142) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 500px 500px 500px 500px;
    font: normal normal 100 19px/27px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    transition: all 0.5s ease-in-out 0s;
}/*#aboutusDIV_14, #aboutusDIV_33, #aboutusDIV_52, #aboutusDIV_71, #aboutusDIV_90, #aboutusDIV_109*/

#aboutusDIV_15, #aboutusDIV_34, #aboutusDIV_53, #aboutusDIV_72, #aboutusDIV_91, #aboutusDIV_110 {
    color: rgb(255, 255, 255);
    display: table;
    height: 35px;
    left: 140px;
    position: absolute;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    top: 140px;
    width: 170px;
    z-index: 6;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 100 19px/27px 'Open Sans', sans-serif;
    list-style: none outside none;
    margin: -15px 0px 0px -85px;
    outline: rgb(255, 255, 255) none 0px;
}/*#aboutusDIV_15, #aboutusDIV_34, #aboutusDIV_53, #aboutusDIV_72, #aboutusDIV_91, #aboutusDIV_110*/

#aboutusA_16, #aboutusA_18, #aboutusA_20, #aboutusA_22, #aboutusA_24, #aboutusA_35, #aboutusA_37, #aboutusA_39, #aboutusA_41, #aboutusA_43, #aboutusA_54, #aboutusA_56, #aboutusA_58, #aboutusA_60, #aboutusA_62, #aboutusA_73, #aboutusA_75, #aboutusA_77, #aboutusA_79, #aboutusA_81, #aboutusA_92, #aboutusA_94, #aboutusA_96, #aboutusA_98, #aboutusA_100, #aboutusA_111, #aboutusA_113, #aboutusA_115, #aboutusA_117, #aboutusA_119 {
    color: rgb(78, 128, 142);
    display: table-cell;
    height: 27px;
    text-align: center;
    text-decoration: none solid rgb(78, 128, 142);
    width: 26px;
    border: 0px none rgb(78, 128, 142);
    font: normal normal 100 19px/27px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(78, 128, 142) none 0px;
    padding: 4px;
}/*#aboutusA_16, #aboutusA_18, #aboutusA_20, #aboutusA_22, #aboutusA_24, #aboutusA_35, #aboutusA_37, #aboutusA_39, #aboutusA_41, #aboutusA_43, #aboutusA_54, #aboutusA_56, #aboutusA_58, #aboutusA_60, #aboutusA_62, #aboutusA_73, #aboutusA_75, #aboutusA_77, #aboutusA_79, #aboutusA_81, #aboutusA_92, #aboutusA_94, #aboutusA_96, #aboutusA_98, #aboutusA_100, #aboutusA_111, #aboutusA_113, #aboutusA_115, #aboutusA_117, #aboutusA_119*/

#aboutusI_17, #aboutusI_36, #aboutusI_55, #aboutusI_74, #aboutusI_93, #aboutusI_112 {
    background-position: -197px 0px;
    color: rgb(78, 128, 142);
    display: inline-block;
    height: 25px;
    text-align: center;
    text-decoration: none solid rgb(78, 128, 142);
    text-indent: -99999px;
    vertical-align: text-top;
    width: 25px;
    background: rgba(0, 0, 0, 0) url(http://gridelicious.com/themes/treble/demo/assets/images/css/sicon-set-white.png) no-repeat scroll -197px 0px / auto padding-box border-box;
    border: 0px none rgb(78, 128, 142);
    font: italic normal 100 19px/14px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(78, 128, 142) none 0px;
}/*#aboutusI_17, #aboutusI_36, #aboutusI_55, #aboutusI_74, #aboutusI_93, #aboutusI_112*/

#aboutusI_19, #aboutusI_38, #aboutusI_57, #aboutusI_76, #aboutusI_95, #aboutusI_114 {
    background-position: -237px -1px;
    color: rgb(78, 128, 142);
    display: inline-block;
    height: 25px;
    text-align: center;
    text-decoration: none solid rgb(78, 128, 142);
    text-indent: -99999px;
    vertical-align: text-top;
    width: 25px;
    background: rgba(0, 0, 0, 0) url(http://gridelicious.com/themes/treble/demo/assets/images/css/sicon-set-white.png) no-repeat scroll -237px -1px / auto padding-box border-box;
    border: 0px none rgb(78, 128, 142);
    font: italic normal 100 19px/14px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(78, 128, 142) none 0px;
}/*#aboutusI_19, #aboutusI_38, #aboutusI_57, #aboutusI_76, #aboutusI_95, #aboutusI_114*/

#aboutusI_21, #aboutusI_40, #aboutusI_59, #aboutusI_78, #aboutusI_97, #aboutusI_116 {
    background-position: -277px -1px;
    color: rgb(78, 128, 142);
    display: inline-block;
    height: 25px;
    text-align: center;
    text-decoration: none solid rgb(78, 128, 142);
    text-indent: -99999px;
    vertical-align: text-top;
    width: 25px;
    background: rgba(0, 0, 0, 0) url(http://gridelicious.com/themes/treble/demo/assets/images/css/sicon-set-white.png) no-repeat scroll -277px -1px / auto padding-box border-box;
    border: 0px none rgb(78, 128, 142);
    font: italic normal 100 19px/14px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(78, 128, 142) none 0px;
}/*#aboutusI_21, #aboutusI_40, #aboutusI_59, #aboutusI_78, #aboutusI_97, #aboutusI_116*/

#aboutusI_23, #aboutusI_42, #aboutusI_61, #aboutusI_80, #aboutusI_99, #aboutusI_118 {
    background-position: -317px -1px;
    color: rgb(78, 128, 142);
    display: inline-block;
    height: 25px;
    text-align: center;
    text-decoration: none solid rgb(78, 128, 142);
    text-indent: -99999px;
    vertical-align: text-top;
    width: 25px;
    background: rgba(0, 0, 0, 0) url(http://gridelicious.com/themes/treble/demo/assets/images/css/sicon-set-white.png) no-repeat scroll -317px -1px / auto padding-box border-box;
    border: 0px none rgb(78, 128, 142);
    font: italic normal 100 19px/14px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(78, 128, 142) none 0px;
}/*#aboutusI_23, #aboutusI_42, #aboutusI_61, #aboutusI_80, #aboutusI_99, #aboutusI_118*/

#aboutusI_25, #aboutusI_44, #aboutusI_63, #aboutusI_82, #aboutusI_101, #aboutusI_120 {
    background-position: -356px -1px;
    color: rgb(78, 128, 142);
    display: inline-block;
    height: 25px;
    text-align: center;
    text-decoration: none solid rgb(78, 128, 142);
    text-indent: -99999px;
    vertical-align: text-top;
    width: 25px;
    background: rgba(0, 0, 0, 0) url(http://gridelicious.com/themes/treble/demo/assets/images/css/sicon-set-white.png) no-repeat scroll -356px -1px / auto padding-box border-box;
    border: 0px none rgb(78, 128, 142);
    font: italic normal 100 19px/14px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(78, 128, 142) none 0px;
}/*#aboutusI_25, #aboutusI_44, #aboutusI_63, #aboutusI_82, #aboutusI_101, #aboutusI_120*/

#aboutusH5_26, #aboutusH5_45, #aboutusH5_64, #aboutusH5_83, #aboutusH5_102, #aboutusH5_121 {
    color: rgb(41, 41, 41);
    height: 54px;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none solid rgb(41, 41, 41);
    text-rendering: optimizelegibility;
    text-transform: uppercase;
    width: 311px;
    border: 0px none rgb(41, 41, 41);
    font: normal normal 800 19px/27px 'Open Sans', sans-serif;
    list-style: none outside none;
    margin: 19.285715103149414px 0px;
    outline: rgb(41, 41, 41) none 0px;
}/*#aboutusH5_26, #aboutusH5_45, #aboutusH5_64, #aboutusH5_83, #aboutusH5_102, #aboutusH5_121*/

#aboutusBR_27, #aboutusBR_46, #aboutusBR_65, #aboutusBR_84, #aboutusBR_103, #aboutusBR_122 {
    color: rgb(41, 41, 41);
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none solid rgb(41, 41, 41);
    text-rendering: optimizelegibility;
    text-transform: uppercase;
    border: 0px none rgb(41, 41, 41);
    font: normal normal 800 19px/27px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(41, 41, 41) none 0px;
}/*#aboutusBR_27, #aboutusBR_46, #aboutusBR_65, #aboutusBR_84, #aboutusBR_103, #aboutusBR_122*/

#aboutusSMALL_28, #aboutusSMALL_47, #aboutusSMALL_66, #aboutusSMALL_85, #aboutusSMALL_104, #aboutusSMALL_123 {
    color: rgb(187, 187, 187);
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none solid rgb(187, 187, 187);
    text-rendering: optimizelegibility;
    text-transform: uppercase;
    border: 0px none rgb(187, 187, 187);
    font: normal normal bold 11px/11px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(187, 187, 187) none 0px;
}/*#aboutusSMALL_28, #aboutusSMALL_47, #aboutusSMALL_66, #aboutusSMALL_85, #aboutusSMALL_104, #aboutusSMALL_123*/

#aboutusP_29, #aboutusP_48, #aboutusP_86, #aboutusP_124 {
    color: rgb(41, 41, 41);
    height: 88px;
    text-align: center;
    text-decoration: none solid rgb(41, 41, 41);
    width: 311px;
    border: 0px none rgb(41, 41, 41);
    font: normal normal 100 15px/22.5px 'Open Sans', sans-serif;
    list-style: none outside none;
    margin: 0px 0px 13.5px;
    outline: rgb(41, 41, 41) none 0px;
}/*#aboutusP_29, #aboutusP_48, #aboutusP_86, #aboutusP_124*/

#aboutusP_67, #aboutusP_105 {
    color: rgb(41, 41, 41);
    height: 88px;
    text-align: center;
    text-decoration: none solid rgb(41, 41, 41);
    width: 311px;
    border: 0px none rgb(41, 41, 41);
    font: normal normal 100 15px/22.5px 'Open Sans', sans-serif;
    list-style: none outside none;
    margin: 0px 0px 13.5px;
    outline: rgb(41, 41, 41) none 0px;
}/*#aboutusP_67, #aboutusP_105*/

